Manual experiment: linear regression

In [1]:
import numpy as np
import pandas as pd

In [2]:
phones = {"x":[568, 341, 609, 477, 511], "y":[75, 46, 87, 59, 61]}

In [4]:
df = pd.DataFrame.from_dict(phones)

In [5]:
df

     x   y
0  568  75
1  341  46
2  609  87
3  477  59
4  511  61

In [6]:
df.head()

     x   y
0  568  75
1  341  46
2  609  87
3  477  59
4  511  61

In [9]:
# we need to calculate average because the regression line needs to go through this point
x_mean = df["x"].mean()
x_mean

501.2

In [10]:
y_mean = df["y"].mean()
y_mean

65.6

In [12]:
# we need two more columns
# x_diff = 

df["x_diff"]=df["x"]-x_mean
df

     x   y  x-diff  x_diff
0  568  75    66.8    66.8
1  341  46  -160.2  -160.2
2  609  87   107.8   107.8
3  477  59   -24.2   -24.2
4  511  61     9.8     9.8

In [13]:
df["y_diff"]=df["y"]-y_mean

In [17]:
df.drop('x-diff',
  axis='columns', inplace=True)
df

     x   y  x_diff  y_diff
0  568  75    66.8     9.4
1  341  46  -160.2   -19.6
2  609  87   107.8    21.4
3  477  59   -24.2    -6.6
4  511  61     9.8    -4.6

In [ ]:
df["x_diff2"] = df[x-diff