https://www.kaggle.com/datasets/mdismielhossenabir/psychosocial-dimensions-of-student-life

In [16]:
# the usual imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, Normalizer
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [17]:
# load the data
df = pd.read_csv("med_student.csv")

In [18]:
# let's quickly see what we have
df.head()

,Age,Gender,AcademicPerformance,TakingNoteInClass,DepressionStatus,FaceChallangesToCompleteAcademicTask,LikePresentation,SleepPerDayHours,NumberOfFriend,LikeNewThings
0,23,Male,Average,No,Sometimes,Yes,Yes,12,NaN,Yes
1,23,Male,Excellent,Sometimes,Yes,No,Yes,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,No,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,No,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,Yes,5,2.0,Yes

In [19]:
# data is quite small which is good to cee clear classification
df.describe()

            Age   SleepPerDayHours  NumberOfFriend
count  99.000000         99.000000       95.000000
mean   22.515152          6.717172       16.189474
std     1.560767          1.738169       25.397811
min    20.000000          4.000000        0.000000
25%    21.000000          5.000000        3.000000
50%    23.000000          7.000000        6.000000
75%    24.000000          8.000000       15.000000
max    25.000000         12.000000      100.000000

In [20]:
# oh wow this is so bad :)
# we have too many duplicates (almost the whole dataset)
df.duplicated().sum()

67

In [21]:
# and we have 4 Nan values
df.isna().sum()

Age                                     0
Gender                                  0
AcademicPerformance                     0
TakingNoteInClass                       0
DepressionStatus                        0
FaceChallangesToCompleteAcademicTask    0
LikePresentation                        0
SleepPerDayHours                        0
NumberOfFriend                          4
LikeNewThings                           0
dtype: int64

In [22]:
# Check for duplicate rows
duplicates = df.duplicated()

# Print duplicate rows
print(df[duplicates])

# Alternatively, you can count the number of duplicate rows
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

# I think we have duplicates becuase data is quite genereal
# and might be repetitive for many cases
# I will delete Nan values but let's keep duplicates

    Age   Gender AcademicPerformance TakingNoteInClass DepressionStatus  \
32    23    Male             Average                No        Sometimes
33    23    Male           Excellent         Sometimes              Yes
34    24    Male             Average                No        Sometimes
35    20  Female                Good               Yes        Sometimes
36    24  Female             Average               Yes              Yes
..   ...     ...                 ...               ...              ...
94    21    Male                Good               Yes        Sometimes
95    21  Female                Good               Yes              Yes
96    25    Male                Good               Yes        Sometimes
97    21    Male                Good               Yes               No
98    22  Female             Average               Yes               No

   FaceChallangesToCompleteAcademicTask LikePresentation  SleepPerDayHours  \
32                                  Yes              Yes                12
33                                   No              Yes                 8
34                            Sometimes               No                 8
35                                  Yes               No                 5
36                                  Yes              Yes                 5
..                                  ...              ...               ...
94                                  Yes              Yes                 6
95                                   No              Yes                 6
96                                   No              Yes                 4
97                            Sometimes               No                10
98                                   No              Yes                 7

    NumberOfFriend LikeNewThings
32             NaN           Yes
33            80.0           Yes
34            10.0           Yes
35            15.0           Yes
36             2.0           Yes
..             ...           ...
94             4.0           Yes
95             6.0           Yes
96             9.0            No
97            23.0           Yes
98             3.0           Yes

[67 rows x 10 columns]
Number of duplicate rows: 67

In [23]:
# drop Nan values
df = df.dropna()

In [25]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['Gender'] = label_encoder.fit_transform(df['Gender'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
Female: 0
Male: 1

In [26]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['AcademicPerformance'] = label_encoder.fit_transform(df['AcademicPerformance'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
Average: 0
Below average: 1
Excellent: 2
Good: 3

In [27]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['TakingNoteInClass'] = label_encoder.fit_transform(df['TakingNoteInClass'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
No: 0
Sometimes: 1
Yes: 2

In [28]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['DepressionStatus'] = label_encoder.fit_transform(df['DepressionStatus'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
No: 0
Sometimes: 1
Yes: 2

In [29]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['FaceChallangesToCompleteAcademicTask'] = label_encoder.fit_transform(df['FaceChallangesToCompleteAcademicTask'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
No: 0
Sometimes: 1
Yes: 2

In [30]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['LikePresentation'] = label_encoder.fit_transform(df['LikePresentation'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
No: 0
Yes: 1

In [32]:
# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform columns
df['LikeNewThings'] = label_encoder.fit_transform(df['LikeNewThings'])

# Print the mapping of encoded values to original categories
# I will use these values for tester row and for GUI
print("Encoded values:")
for category, encoded_value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{category}: {encoded_value}")

Encoded values:
0: 0
1: 1