# Logistic Regression

The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

Link for the dataset: https://www.kaggle.com/datasets/rouseguy/bankbalanced

Cleaning and modifying data

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# pip install scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [120]:
# uploading dataset to juputer notebook
df = pd.read_csv("bank.csv")

In [121]:
# let's read data
df.head()

# I checked from this link https://archive.ics.uci.edu/dataset/222/bank+marketing
# what some of columns mean (their definition and values)

# default --> has credit in default? (binary: "yes","no")
# duration --> last contact duration, in seconds (numeric)
# campaign --> number of contacts performed during this campaign 
#and for this client (numeric, includes last contact)
# pdays --> number of days that passed by after the client was last contacted 
#from a previous campaign (numeric, -1 means client was not previously contacted)
# previous --> number of contacts performed before this campaign and for this client (numeric)
# poutcome --> outcome of the previous marketing campaign (categorical: "unknown","other","failure","success"

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

## My clean data plan:
1. Check all NaN values --> delete if there are 
2. Check duplicates --> delete if there are 

3. Check the job column --> use clustering or other methods to modify it into numeric
4. marital column --> OneHotEncoder
5. education column --> OneHotEncoder
6. default column --> LabelEncoder
7. housing column --> LabelEncoder
8. loan column --> LabelEncoder
9. contact column --> OneHotEncoder 
10. month column --> use clustering or other methods to modify it into numeric
11. poutcome column --> OneHotEncoder 
12. deposit column --> LabelEncoder

13. Remove outliers

In [122]:
# 1. Check all NaN values --> delete if there are 
df.isna().sum()

# suprisingly, zero :)

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [123]:
# 2. Check duplicates --> delete if there are 
# let's check whether we have duplicates
# or one more surprise awaiting us :)
df.duplicated().sum()

# yes, life is full of surprises :)

0

In [125]:
# 3. Check the job column --> use clustering or other methods to modify it into numeric

# type of job (categorical: 'admin.','blue-collar','entrepreneur',
# 'housemaid','management','retired','self-employed','services','student',
# 'technician','unemployed','unknown')

# overwriting the 'job' column with the encoded values

# the package that needed to be installed
# in order to modify data into numeric
from sklearn.preprocessing import LabelEncoder

# initialize LabelEncoder
label_encoder = LabelEncoder()

# fit LabelEncoder and transform 'job' column
df['job'] = label_encoder.fit_transform(df['job'])

In [135]:
# verify the transformation
df.head()

,age,job,default,balance,housing,loan,day,month,duration,campaign,...,marital_divorced,marital_married,education_primary,education_secondary,education_tertiary,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,59,0,0,2343,1,0,5,5,1042,1,...,0,1,0,1,0,0,0,0,0,0
1,56,0,0,45,0,0,5,5,1467,1,...,0,1,0,1,0,0,0,0,0,0
2,41,9,0,1270,1,0,5,5,1389,1,...,0,1,0,1,0,0,0,0,0,0
3,55,7,0,2476,1,0,5,5,579,1,...,0,1,0,1,0,0,0,0,0,0
4,54,0,0,184,0,0,5,5,673,2,...,0,1,0,0,1,0,0,0,0,0

In [127]:
# All columns that need the same method can be done in one step
# 4. marital column --> OneHotEncoder
# 5. education column --> OneHotEncoder
# 9. contact column --> OneHotEncoder 
# 11. poutcome column --> OneHotEncoder 

# this makes multiple columns with the variable (Separate for yes/no)
from sklearn.preprocessing import OneHotEncoder
variables = ['marital', 'education', 'contact', 'poutcome']

# use encoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

In [128]:
# quite many new columns we have now
# we can delete one column in every category
df.head()

,age,job,default,balance,housing,loan,day,month,duration,campaign,...,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,59,0,no,2343,yes,no,5,may,1042,1,...,1,0,0,0,0,1,0,0,0,1
1,56,0,no,45,no,no,5,may,1467,1,...,1,0,0,0,0,1,0,0,0,1
2,41,9,no,1270,yes,no,5,may,1389,1,...,1,0,0,0,0,1,0,0,0,1
3,55,7,no,2476,yes,no,5,may,579,1,...,1,0,0,0,0,1,0,0,0,1
4,54,0,no,184,no,no,5,may,673,2,...,0,1,0,0,0,1,0,0,0,1

In [129]:
# to check names of columns
column_list = df.columns.tolist()
column_list

['age',
 'job',
 'default',
 'balance',
 'housing',
 'loan',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'deposit',
 'marital_divorced',
 'marital_married',
 'marital_single',
 'education_primary',
 'education_secondary',
 'education_tertiary',
 'education_unknown',
 'contact_cellular',
 'contact_telephone',
 'contact_unknown',
 'poutcome_failure',
 'poutcome_other',
 'poutcome_success',
 'poutcome_unknown']

In [130]:
# drop unnesecary columns
df = df.drop(["marital_single", "education_unknown", "contact_unknown", "poutcome_unknown"], axis=1)

In [131]:
# 10. month column --> use clustering or other methods to modify it into numeric
# Define a dictionary mapping each month to its numeric representation
month_to_number = {
    'jan': 1,
    'feb': 2,
    'mar': 3,
    'apr': 4,
    'may': 5,
    'jun': 6,
    'jul': 7,
    'aug': 8,
    'sep': 9,
    'oct': 10,
    'nov': 11,
    'dec': 12
}

# Map the 'month' column to its corresponding numeric representation
df['month'] = df['month'].map(month_to_number)

# I used this method in order to avoid creating additional columns

In [132]:
# checking whether everything worked in the correct way
df.head()

,age,job,default,balance,housing,loan,day,month,duration,campaign,...,marital_divorced,marital_married,education_primary,education_secondary,education_tertiary,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,59,0,no,2343,yes,no,5,5,1042,1,...,0,1,0,1,0,0,0,0,0,0
1,56,0,no,45,no,no,5,5,1467,1,...,0,1,0,1,0,0,0,0,0,0
2,41,9,no,1270,yes,no,5,5,1389,1,...,0,1,0,1,0,0,0,0,0,0
3,55,7,no,2476,yes,no,5,5,579,1,...,0,1,0,1,0,0,0,0,0,0
4,54,0,no,184,no,no,5,5,673,2,...,0,1,0,0,1,0,0,0,0,0

In [133]:
# All columns that need the same method can be done in one step
# 6. default column --> LabelEncoder
# 7. housing column --> LabelEncoder
# 8. loan column --> LabelEncoder
# 12. deposit column --> LabelEncoder

# this just converts the value of column to 0 or 1
# factorize in pandas works too, but only one column at a time
from sklearn.preprocessing import LabelEncoder
variables = ['default', 'housing', 'loan', 'deposit']
encoder = LabelEncoder()
df[variables] = df[variables].apply(encoder.fit_transform)

In [134]:
df.head()

,age,job,default,balance,housing,loan,day,month,duration,campaign,...,marital_divorced,marital_married,education_primary,education_secondary,education_tertiary,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,59,0,0,2343,1,0,5,5,1042,1,...,0,1,0,1,0,0,0,0,0,0
1,56,0,0,45,0,0,5,5,1467,1,...,0,1,0,1,0,0,0,0,0,0
2,41,9,0,1270,1,0,5,5,1389,1,...,0,1,0,1,0,0,0,0,0,0
3,55,7,0,2476,1,0,5,5,579,1,...,0,1,0,1,0,0,0,0,0,0
4,54,0,0,184,0,0,5,5,673,2,...,0,1,0,0,1,0,0,0,0,0